<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note </title>
</head>
<body>
    <textarea class="note"></textarea>
    <button class="submit-btn">Submit</button>
    <script>
        const txtArea=document.querySelector(".note")
        const btn=document.querySelector(".submit-btn")
        btn.addEventListener("click",async function(){
            if(!txtArea.value)
            {
                return
            }
            const obj={
                text:txtArea.value
            }
            console.log(JSON.stringify(obj))
await fetch('/addNotes',{
    method:"POST",
    headers:{
        "Content-type":"application/json"
    },
    body:JSON.stringify(obj)
})
        })
    </script>
</body>
</html>