<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Note Page</title>
</head>
<body>
    <from>
      <label>Title</label>
      <input type="text" class="txt-title">
      <label>Text</label>
        <textarea class="txt-area"></textarea>
        <button class="sub-btn">Submit</button>
    </from>
</body>
<script>
   const subBtn=document.querySelector(".sub-btn")
   const obj={}
   subBtn.addEventListener("click",function(event)
   {
    event.preventDefault()
    obj["title"]=document.querySelector(".txt-title").value
    obj["text"]=document.querySelector(".txt-area").value
  if(obj["text"])
  {
    postToServer(obj).then((page)=>{
      location.href=page["route"]
    })
    
    return
  }
  else{
    return
  }
   })
   async function postToServer(obj)
   {
    const page = await fetch("/addNote",{
                method:"POST",
    headers:{
        "Content-type":"application/json"
    },
    body:JSON.stringify(obj)
            })
            return await page.json()
   }
</script>
</html>