<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Note Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="d-flex justify-content-center container">
    <from class="w-75">
      <label>Title</label>
      <input type="text" class="txt-title form-control">
      <label>Text</label>
        <textarea class="txt-area form-control" rows="10"></textarea>
        <button class="sub-btn btn btn-primary mt-4">Submit</button>
    </from>
  </div>
    
</body>
<script>
   const subBtn=document.querySelector(".sub-btn")
   const obj={}
   subBtn.addEventListener("click",function(event)
   {
    event.preventDefault()
    obj["title"]=document.querySelector(".txt-title").value
    obj["text"]=document.querySelector(".txt-area").value
  if(obj["text"])
  {
    postToServer(obj).then((page)=>{
      location.href=page["route"]
    })
    
    return
  }
  else{
    return
  }
   })
   async function postToServer(obj)
   {
    const page = await fetch("/addNote",{
                method:"POST",
    headers:{
        "Content-type":"application/json"
    },
    body:JSON.stringify(obj)
            })
            return await page.json()
   }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>