<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Note Page</title>
</head>
<body>
    <from>
        <textarea class="txt-area"></textarea>
        <button class="sub-btn">Submit</button>
    </from>
</body>
<script>
   
</script>
</html>