<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
</head>
<style>
    body{
        margin:0;
        padding:0;
        background-color: aliceblue;
    }
    .page{
        display:flex;
        flex-direction: column;
        width:100%;
        font-family:Arial, Helvetica, sans-serif;
    }
    .user-details{
padding:0.5em;
font-size: 2em;
    }
    .user-notes{
   margin:0 auto;
 
   width:80%;

    }
    .element{
        display:flex;
        flex-direction:row;
        margin-block:1em;
        border:solid 2px lime;
        padding-block:1em;
        font-size: 1.2em;
        align-items:center;
      justify-content: space-around;
    }
    .text{
        width:50px;
    }
    button{
        width:80px;
        border-radius: 10px;
        padding:0.5em;
        border-width:0;
    }
    .delBtn{
background-color: red;
    }
    .viewBtn{
background-color: lime;
    }
    .updateBtn{
background-color: aqua;
    }
    .view-page{

    }
    .hidden{
        display:none;
    }
    .visible{
        
    }
</style>
<body>
    <div class="page">
    <div class="user-details"></div>
    <div class="user-notes"></div>
    </div>
    <div class="view-page">
        <div class="user-details"></div>
        <div class="user-notes"></div>
        </div>
    <script>
        const userNotes=document.querySelector(".user-notes")
        const userDetails=document.querySelector(".user-details")
        let details=undefined
        let user=undefined;
        let delBtns=undefined
        
async function getAllNotes()
{
    const data=await fetch("/allNotes",{
        method:"get"
    })
    const result=await data.json()
    return result
}
getAllNotes().then((obj)=>{

details=obj["result"]
user=obj["user"]
displayNotesOnPage(details,userNotes)
displayUserOnPage(user,userDetails)
})
function displayNotesOnPage(arr,page)
{
arr.forEach((element)=>{
    const text='<div class="element">'+ '<span class="text">'+element.title+'</span>' + '<button class="delBtn">'+"Delete"+'</button>'+'<button class="updateBtn">'+"Update"+"</button>"+'<button class="viewBtn">'+"View"+"</button>"+"</div>"
    page.innerHTML+=text;
})
delBtns=document.querySelectorAll(".delBtn")
btnDelete()
}
function displayUserOnPage(user,page)
{
page.textContent="Welcome back" +" "+ user["name"]
}
function btnDelete()
{
    delBtns.forEach((element,index)=>{
    element.addEventListener('click',function(event)
    {
event.preventDefault()
deleteFromServer(index).then((page)=>{
    location.href=page["route"]
})
    })
})
}
async function deleteFromServer(id)
{
  const record=details[id]
   const page= await fetch(`/${record["id"]}`,{
    method:"DELETE",
    headers:{
        "Content-type":"application/json"
    },
    body:JSON.stringify(record)
})
return await page.json()
}
    </script>
</body>
</html>