<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="./login.html">LogIn</a>
    <a href="./register.html">Register</a>
    <a href="./home.html">Home</a>
    <a href="./index.html">Index</a>
    <a href="./logout.html">logout</a>
    <a href="./addNote.html">addNote</a>
 
</body>
</html>