<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>
<body>
    <form class="form">
<label>Confirm Password</label>
<input type="password" class="password">
<button class="sub-btn">Submit</button>
    </form>
</body>
<script>
     function getUrl()
 {
  const url = window.location.href;
const splitUrl = url.split('/');
var token = splitUrl[splitUrl.length - 1];
let id=splitUrl[splitUrl.length-2]
return {token,id}
 }
 document.querySelector(".sub-btn").addEventListener("click",async (e)=>{
e.preventDefault()
const password=document.querySelector(".password").value
await fetch(`/resetpassword/${id}/${token}`,{method:"post"})
 })
</script>
</html>